*{
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif;
}
p{
      color: gray;
}

/* ############# */
header{
      background-color: #eae6f5;

}
.main-header{
      max-width: 1140px;
      margin: 0 auto;
}
.logo{
      display: flex;
      color: #4b208c;
}
.first-div{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
}
#home{
      background-color: #4b208c;
      color: #ffffff;
      border-radius: 35px;
      padding: 10px 15px;
}
.anker-tag{
      color: #ffffff;
}
nav ul{
      display: flex;
      padding-left: 100px;
      align-items: center;
}
ul li{
      list-style: none;
      padding-left: 40px;
}
a{
      padding: 10px 15px;
      font-size: 16px;
}
li a{
      text-decoration: none;
}
ul li a:hover{
      background-color: #4b208c;
      color: #ffffff;
      border-radius: 35px;
}
/* banner-section */
.banner-section{
      display: flex;
      align-items: center;
      padding: 100px 0;
      gap: 100px;
}
.datiles{
      width: 560px;
}
.datiles h1{
      font-size: 2.5rem;
      font-weight: bold;
      line-height: 48px;
}
.datiles p{
      padding: 30px 0;
      line-height: 25px;
}
.banner-img img {
      border-radius: 50%;
      border: 8px solid gray;
      width: 100%;
}
.datiles  a {
      padding: 10px 40px;
      background-color: #4b208c;
      color: #ffffff;
      border-radius: 35px;
      margin-top: 35px;
      text-decoration: none;
  }
  /* service section */
  .service-section{
      padding: 100px 0;
      text-align: center;
  }
  .service-box-aria{
      display: flex;
  }
  /* .service-box{
      width: 400px;

  } */
  .service-box-title{
      padding-bottom: 50px;
  }

.service-box {
      margin: 25px 1%;
      padding: 35px 25px 30px 25px;
      border-radius: 15px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
      /* border-top: 15px solid transparent; */
      text-align: center;
      /* border-top: 15px solid; */
      border-top: 15px solid #ffffff;
      transition: 0.3s;

}
#service-box-01{
      border-top: 15px solid #4b208c;
}
.service-box h2{
      color: #4b208c;
      font-size: 1.25rem;
      padding-top: 30px;
      padding-bottom: 20px;
}
.service-box p{
      padding-bottom: 20px;
}
.service-box {
      color: gray;
}
.service-box:hover{
      border-top: 15px solid #4b208c;
}

#service-ariabox-02{
      display: flex;
      justify-content: center;
}
.service_section-btn-box {
      text-decoration: none;

}

  .service_section-btn-box {
      display: inline-block;
      padding: 15px 35px;
      background-color: #4b208c;
      color: #ffffff;
      border-radius: 35px;
      margin-top: 50px;
  }
/* about section */
.about-section-main{
      background-color: #f3f0f6;
}
.about-section{
      display: flex;
      padding: 70px 0;
      align-items: center;
      gap: 50px;
}
.about-detiles{
      width: 500px;
}
.about-detiles h1{
      font-size: 2rem;
      font-weight: bold;
      font-family: 'Poppins', sans-serif;

}
.about-detiles p{
      padding: 30px 0;
}
.about-img{
      width: 500px;
      text-align: right;
}
.about-img img{
      border-radius: 50%;
      border: 5px solid #4b208c;

}
.about_section-btn {
      padding: 10px 35px;
      background-color: #4b208c;
      color: #ffffff;
      border-radius: 5px;
  }